PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/image_expense_tracker
AI_SERVICE_URL=http://localhost:8000/extract-expense

MISTRAL_API_KEY=fWqcYe1nJIXgABJnMYaYZl6ClPk08SyZ
MISTRAL_MODEL=pixtral-12b-latest